body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 90%;
}

.baku {
  background-image: url(../images/baku.jpg);
  height: 400px;
  width: 400px;
  margin-top: 10px;
  font-size: 1.5em
}

.london {
  background-image: url(../images/london.png);
  height: 400px;
  width: 400px;
  margin-top: 10px;
  font-size: 1.5em
}

.madrid {
  background-image: url(../images/madrid.jpg);
  height: 400px;
  width: 400px;
  margin-top: 10px;
  font-size: 1.5em
}

.rome {
  background-image: url(../images/rome.jpg);
  height: 400px;
  width: 400px;
  margin-top: 10px;
  font-size: 1.5em
}
